# Bot
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
LOG_LEVEL=INFO
PARSE_MODE=HTML
PROTECT_CONTENT=false
DROP_PENDING_UPDATES=false
ADMIN_IDS=[123456789]
SHOW_ALERT=false
SHOW_AUTH_USERS=false

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aiogram_base_template
DB_USER=postgres
DB_PASSWORD=postgres
DB_SCHEMA=

# Redis
REDIS_URL=redis://localhost:6379

# Proxy (optional)
PROXY_URL=
PROXY_USER=
PROXY_PASSWORD=
PROXY_IP=
PROXY_PORT=
